/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

body {
  background-color: #121212;
  color: #e0e0e0;
}

.form-control.dark-mode-input {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #444444;
}

.form-control.dark-mode-input::placeholder {
  color: #888888;
}

.form-control.dark-mode-input:focus {
  background-color: #444444;
  color: #ffffff;
  border-color: #555555;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-floating label {
  color: #1d1d1d;
}

.form-floating .form-control.dark-mode-input:focus ~ label {
  color: #161616;
}