
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #FFFFFF;
}

header {
    background-color: #7A04A8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo {
    max-width: 100%;
    height: auto;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin-right: 10px;
    font-weight: bold;
}

.user-info .user-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

main {
    background-color: #242424;
    padding: 20px;
}

.account-summary {
    text-align: center;
    margin-bottom: 30px;
}

.account-summary h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.account-summary .balance {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-summary .add-money {
    background-color: #FFFFFF;
    color: #8A05BE;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.action-button {
    background-color: gray;
    color: whitesmoke;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
}

.account-help {
    background-color: #303030;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.transaction-history {
    background-color: #7A04A8;
    padding: 15px;
    border-radius: 10px;
}

.transaction-history h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.transactions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.transactions li {
    background-color: #9C29B2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.hide-values {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #303030;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.hide-values:hover{
    background-color: #242424;
}